In [10]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
%matplotlib inline

In [6]:
df = pd.read_excel("Topics_stars10000_project_keyword.xlsx")
df

,project_name,topic_keyword
0,freeCodeCamp/freeCodeCamp,"['react', 'nodejs', 'javascript', 'd3', 'teach..."
1,996icu/996.ICU,[]
2,EbookFoundation/free-programming-books,"['education', 'list', 'books', 'resource', 'ha..."
3,jwasham/coding-interview-university,"['computer-science', 'algorithm', 'algorithms'..."
4,vuejs/vue,"['javascript', 'framework', 'vue', 'frontend']"
...,...,...
995,visionmedia/superagent,[]
996,charlax/professional-programming,"['programming-language', 'learning', 'computer..."
997,oracle/graal,"['javascript', 'ruby', 'python', 'c', 'java', ..."
998,dvajs/dva,"['redux', 'framework', 'redux-saga', 'elm', 'd..."
999,vnpy/vnpy,"['python', 'finance', 'trading', 'fintech', 'a..."

In [33]:
for i in df['topic_keyword']:
    i_list = i.replace("[","").replace("]","").replace("'","").split(",")
    
    encoder = LabelEncoder()
    encoder.fit(i_list)
    labels = encoder.transform(i_list)
    labels = labels.reshape(-1,1)
    
    #One-Hot-Encoding 진행
    oh_encoder = OneHotEncoder()
    oh_encoder.fit(labels)
    oh_labels = oh_encoder.transform(labels)
    oh_labels.toarray()

TypeError: 'tuple' object is not callable

In [9]:
df_vector = pd.DataFrame()
df_vector

Empty DataFrame
Columns: []
Index: []